body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

header {
    background-color: #37cde0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap; /* Para que el contenido pueda saltar a la siguiente línea si es necesario */
}

header .logo-principal {
    display: flex;
    align-items: center;
}

header .logo-principal img {
    width: 15vh;
    height: 10vh;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: none;
    color: #000000;
}
h2{
    text-decoration:underline;
    color: #0c363c;
    text-align: center;
}
.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.grid-box {
    background-color: #ffffff; 
    height: 200px;
    border-radius: 8px;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.grid-box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px; 
    transition: 2s;
}

/* Responsive */
@media (max-width: 900px) { 
    header {
        flex-wrap: wrap;
        align-items: flex-start;
    }
 

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    }