body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}
/* Encabezado */
header {
    background-color: #37cde0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2px;
    flex-wrap: wrap;
    border: solid, 2px;
    box-sizing: border-box;
}

header .logo-principal {
    display: flex;
    align-items: center;
    margin: 20px;
}

header .logo-principal img {
    width: 25vh;
    height: 18vh;
    margin: 0;
    box-sizing: border-box;
    border: solid, 2px;
    border-radius: 10px;
    color: #000;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: 30px;
    padding: 37px;
    flex-wrap: wrap;
    border: solid, 2px #000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: auto;
    height: 15vh;
}

nav ul li a {
    text-decoration: none;
    color: #060303;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: none;
    color: #660f0f;
}

h2{
    text-decoration:none;
    color: #000000;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    padding: 15px;
    margin: 20px;
}
.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.grid-box {
    background-color: #ffffff; 
    height: 200px;
    border-radius: 8px;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: #000,solid;
    
}

.grid-box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px; 
    transition: 2s;
}

/* Responsive */
@media (max-width: 900px) { 
  header .logo-principal img {
    width: 50px;
    height: fit-content;

    }
  nav ul{
    width: 242px;
    height: 50px;
    margin: 10px;
    gap: 15PX;
    text-align: center;
    display: flex;
    padding: 20PX;
  font-size: 9px;
  flex-direction: column;
 }

 h2{
    font-size: 15px;
 }
  }


